{% extends 'base.html.twig' %}

{% block body %}
    <h1>Topic creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-secondary" href="/groupe/topic/{{ groupe_id }}"><i class="fas fa-angle-double-left"></i>Back to the list</a>
        </li>
    </ul>
{% endblock %}
