{% extends 'base.html.twig' %}

{% block body %}
    <section class="companies-info">
    <div class="container">
        <div class="company-title col-lg-3 col-md-4 col-sm-6">
        </div>
    <div class="company-title col-lg-6 col-md-4 col-sm-6">
        <h1>Restricted Access</h1>
        <img src="{{ asset('template/images/error500.png') }}" height="400px" width="400px">

    </div>
        <div class="company-title col-lg-3 col-md-4 col-sm-6">
        </div>
    </div>
    </section>
{% endblock %}