{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin"></div>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd" >

                        <div class="main-ws-sec">
                            <div class="posts-section">
                                <div class="post-topbar">
                {{ form_start(form) }}

                                    <input type="submit" value="Create" />
{{ form_end(form) }}


                 </div>
             </div>
         </div>
     </div>
</div>
            </div>
<ul>
<li>
<a href="{{ path('donation_index') }}">Back to the list</a>
</li>
</ul>
</div>
</div></div>
</main>
{% endblock %}
